.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App a {
  color: #c92c61;
  font-weight: bold;
}

.App strong {
  color: #c92c61;
  font-weight: bold;
}

.App header {
  padding: 20px;
}

.App header p {
  color: #333;
}

.App__Columns {
  display: flex;
  flex-grow: 1;
  column-gap: 20px;
  padding: 20px;
}

.App__UploadBtn {
  background: #c92c61;
  color: #fff;
  border-radius: 8px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App__UploadBtn h2 {
  font-size: 1.5em;
}

.App__UploadBtn input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.App__List {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  box-sizing: border-box;
  border: 6px solid #c92c61;
  border-radius: 8px;
}

.App__List a {
  display: block;
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #c92c61;
  cursor: pointer;
  text-decoration: none;
}

.App__List a:hover {
  background-color: #eee;
}

.App__List a svg {
  width: 20px;
  height: 20px;
  fill: #c92c61;
  margin-right: 10px;
}

.App__List__Error {
  display: flex;
  padding: 10px;
  background: #c71717;
  color: #fff;
  align-items: center;
}

.FlexSpacer {
  display: flex;
  flex-grow: 1;
}

.App__List__ResetBtn {
  margin: 10px;
  padding: 5px 10px;
  background: #c92c61;
  color: #fff;
  border-radius: 4px;
  align-self: flex-end;
  cursor: pointer;
}

.App__List__EmptyMsg {
  width: 100%;
  height: 100%;
  color: #c92c61;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}